/* Estilos de reseteo */
body {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

/* Estilo para el borde externo del formulario */
.form-border {
    border: 2px solid rgb(205, 201, 201);
}

/* Estilos para el header */
.header {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: left;
    width: 100%;
}

/* Estilo para la alerta */
.alert-danger {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
}

/* Estilo para la caja con iconos de tarjeta */
.bg-gray {
    background-color: rgba(128, 128, 128, 0.751);
    padding: 10px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
}

/* Estilo para los iconos de tarjeta */
.icon-box i {
    font-size: 24px;
    color: white;
    margin-right: 30px;
}

/* Estilo para el textarea*/
#mensaje {
    height: 100px;
}

/* Estilo personalizado para el contenedor del footer */
.custom-footer {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #ddd;
    width: 100%;
}

/* Estilo personalizado para el botón "Cancelar" con fondo gris */
.btn-custom-gray {
    background-color: gray;
    color: white;
    margin-right: 15px;
}